<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.Sakiv.Listners.ExtentListeners"></listener>
	</listeners>
	<test name="ChromeLoginTest">
		<classes>
			<class name="com.Sakiv.TestCases.LoginTestChrome" />
		</classes>
	</test> <!-- Test -->
	<test name="FireFoxLoginTest">
		<classes>
			<class name="com.Sakiv.TestCases.LoginTestFireFox" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
